.hat-show-image {
  height: 400px;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;

  .hat-show-type {
      position: absolute;
      background: white;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
      border-radius: 4px;
      top: 10px;
      right: 16px;
      padding: 4px 8px;
    }
}
