<%= simple_form_for [@hat, @booking], data: { controller: 'flatpickr' } do |f| %>
<div class="book-form">
      <div class="small-form-box">
        <div class="booking-input-box small-form-input">
          <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startDate" } }, label: "Hat-in" %>
        </div>
        <div class="booking-input-box small-form-input">
          <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endDate" } }, label: "Hatout" %>
        </div>
      <div id="submit-btn">
        <%= f.submit "Reserve hat", class: "btn btn-primary row-form-btn mb-3" %>
      </div>
    </div>
  <% end %>
</div>
