<%= simple_form_for [@hat, @booking] do |f| %>
<div class="book-form">
      <div class="small-form-box">
        <div class="booking-input-box my-3 small-form-input">
          <%= f.input :start_date, as: :date, html5: true %>
        </div>
        <div class="booking-input-box my-3 small-form-input">
          <%= f.input :end_date, as: :date, html5: true %>
        </div>
      <div id="submit-btn">
        <%= f.submit "Reserve hat", class: "btn btn-primary row-form-btn" %>
      </div>
    </div>
  <% end %>
</div>
