<h1>My Bookings</h1>

<table class="table">
  <thead>
    <tr>
      <th>Hat</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>ID</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.try(:each) do |booking| %>
      <tr>
        <td><%= booking.hat.type %></td>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
        <td><%= booking.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
