.book-form {
  .small-form-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    .booking-input-box {
      width: 100%;
      .small-form-input {
        input[type="date"] {
          border: 1px solid #ccc;
          padding: 8px;
          width: 100%;
        }
      }
    }

    #submit-btn {
      margin-top: 20px;

      .btn-primary {
        background-color: #337ab7;
        border-color: #2e6da4;
        color: #fff;
        padding: 10px 20px;
      }
    }
  }
}
