<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1494526585095-c41746248156?w=1200')">
  <div class="container">
    <h1><%= @hat.type %></h1>
    <p><%= @hat.description %></p>
  </div>
</div>
